@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#141414] text-[#e5e5e5] !scrollbar-thin !scrollbar-track-transparent !scrollbar-thumb-[#FE4A49];
  }

  header {
    @apply fixed top-0 z-50 flex w-full items-center justify-between px-4 py-4 transition-all lg:px-10 lg:py-6;
  }

  h1 {
    @apply text-2xl md:text-4xl lg:text-7xl font-bold text-shadow-lg;
  }

  h2 {
    @apply font-semibold tracking-wide capitalize mb-2 text-xl md:text-2xl lg:text-3xl text-shadow-md;
  }

  h3 {
    @apply text-lg md:text-xl;
  }

  p {
    @apply font-light text-sm md:text-base;
  }
}

@layer components {
  /** Header Component */
  .headerLink {
    @apply cursor-pointer text-sm font-light transition duration-[.4s] hover:text-[#FE4A49];
  }

  /** Basic Menu Component */

  .menu {
    @apply md:!hidden;
  }

  .menu .MuiPaper-root {
    @apply !absolute !right-0 !rounded-none !border !border-[gray] !bg-[#141414] !text-white;
  }

  .menu .MuiList-root {
    @apply !p-0;
  }

  .menu .MuiMenuItem-root {
    @apply !block !w-64 !py-3.5 !m-0 !text-center !text-sm !text-[#b3b3b3] !transition !duration-200 hover:!bg-black;
  }

  /** User Menu component */

  .userMenu .MuiPaper-root {
    @apply !absolute !right-0 !rounded !border !border-[gray] !bg-[#141414] !text-white;
  }

  .userMenu .MuiMenuItem-root,
  .userMenu .MuiMenuItem-root p {
    @apply !block !w-64 !m-0 !text-sm !text-white !cursor-default;
  }

  .userMenu .MuiMenuItem-root a {
    @apply !text-[#b3b3b3] hover:!text-[#FE4A49] !cursor-pointer !transition !duration-200;
  }

  /** Select Component */
  .selectOption {
    @apply py-3 text-white text-lg transition duration-200;
  }

  /** Banner Component */
  .bannerButton {
    @apply flex items-center gap-x-2 rounded px-5 py-1.5 text-sm font-semibold transition hover:opacity-75 md:py-2.5 md:px-8 md:text-xl;
  }

  /** Modal Component */
  .modalButton {
    @apply flex h-9 w-9 md:h-11 md:w-11 items-center justify-center rounded-full border-2 border-[gray] bg-[#2a2a2a]/60 transition hover:border-white hover:bg-white/10;
  }

  /** Search Banner component */
  .search-banner {
    @apply bg-[url('/assets/background.jpg')] -z-10 bg-cover bg-center bg-no-repeat relative before:absolute before:top-0 before:left-0 before:w-full before:h-full before:bg-[#141414]/60;
  }

  /** Sign in/up input fields */
  .input {
    @apply w-full rounded bg-[#333] px-5 py-3.5 placeholder-[gray] outline-none focus:bg-[#454545];
  }

  /** Loader */
  .gegga {
    width: 0;
  }

  .snurra {
    filter: url(#gegga);
  }

  .stopp1 {
    stop-color: #fe4a49;
  }

  .stopp2 {
    stop-color: #fea449;
  }

  .halvan {
    animation: Snurra1 10s infinite linear;
    stroke-dasharray: 180 800;
    fill: none;
    stroke: url(#gradient);
    stroke-width: 23;
    stroke-linecap: round;
  }

  .strecken {
    animation: Snurra1 3s infinite linear;
    stroke-dasharray: 26 54;
    fill: none;
    stroke: url(#gradient);
    stroke-width: 23;
    stroke-linecap: round;
  }

  .skugga {
    filter: blur(5px);
    opacity: 0.3;
    position: absolute;
    transform: translate(3px, 3px);
  }

  @keyframes Snurra1 {
    0% {
      stroke-dashoffset: 0;
    }

    100% {
      stroke-dashoffset: -403px;
    }
  }
}
